@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  border-radius: $border-radius-md;
  background: #ffffff;
  max-width: 540px;
  width: 100%;
  border: 1px solid rgb(231, 227, 235);

  .header {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(231, 227, 235);

    .title {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .subtitle {
      color: rgb(122, 110, 170);
    }

    .toRoute {
      position: absolute;
      right: 16px;
      top: 22px;
    }

    .backRoute {
      position: absolute;
      left: 16px;
      top: 22px;
    }
  }

  .childrenWrapper {
    padding: 1rem;
  }
}
