@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  border-radius: 0 0 $border-radius-md $border-radius-md;
  background: #ffffff;
  max-width: 540px;
  width: 100%;
  border: 1px solid $color-grey;

  .header {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid $color-grey;

    .title {
      font-weight: 600;
      font-size: 20px;
    }

    .subtitle {
      color: rgb(122, 110, 170);
    }
  }

  .childrenWrapper {
    padding: 1rem;
  }
}
