@font-face {
  font-family: 'Asul';
  src: local('Asul'), url(../fonts/Asul/Asul-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Asul';
  src: local('Asul'), url(../fonts/Asul/Asul-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Asul';
  src: local('Asul'), url(../fonts/Asul/Asul-Regular.ttf);
  font-weight: 400;
}

