@font-face {
  font-family: 'Coffinstone';
  src: local('Coffinstone'), url(../fonts/Coffinstone/Coffinstone.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Coffinstone';
  src: local('Coffinstone'), url(../fonts/Coffinstone/Coffinstone.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Coffinstone';
  src: local('Coffinstone'), url(../fonts/Coffinstone/Coffinstone.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Coffinstone';
  src: local('Coffinstone'), url(../fonts/Coffinstone/Coffinstone.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Coffinstone';
  src: local('Coffinstone'), url(../fonts/Coffinstone/Coffinstone.ttf);
  font-weight: 700;
}
